body {
  font-family: 'Merriweather', serif !important;
  background-color: #76A978 !important;
}

em {
  font-weight: 600;
  font-style: normal;
  color: rgb(32, 32, 32);
}

p {
  text-align: center;
}



.container {}

#title {

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/first_chord_bg.png");
  background-position: center;
  height: 30vh;
  width: 100%;
  border-bottom: 5px solid #F77F6C;
}

#logo {
  max-height: 120px;
  border-radius: 30px;
  border: 5px solid #F77F6C;
  ;
}

#header {
  margin-top: 10px;
  color: #A09CFA;
  text-align: center;
  font-weight: 600;
  font-family: 'Segoe UI';
  font-weight: 700;
}

#main {
  background: #D1EAFF;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px;
}

#video-size {
  position: relative;
  padding: 20px;
}

#video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}